.footer {
    background: rgba(4, 9, 44, 1);
    color: white;
    font-family: Arial, sans-serif;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px;
    height: 100px;
    padding: 30%;
}

.footer-nav {
    flex-grow: 1;
    text-align: center;
    margin: 20px 0; 
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav li {
    display: block; 
    margin: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px; 
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: rgba(4, 9, 44, 1); 
}

.footer-contact {
    text-align: right;
    margin: 31px 31px; 
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px; 
}

.footer-contact p strong {
    margin-right: 5px;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.contact-icons {
    margin-top: 15px;
}

.contact-icons a {
    color: white;
    margin-right: 15px;
    font-size: 20px; 
    transition: color 0.3s ease;
}

.contact-icons a:hover {
    color: #3498db; 
}


@media (max-width: 768px) {
    .footer-content {
        text-align: center;
    }

    .footer-nav {
        margin: 20px 0;
    }

    .footer-contact {
        margin-top: 20px;
    }

    .contact-icons a {
        margin-right: 10px;
        font-size: 18px; 
    }

    .footer-nav a {
        font-size: 14px; 
    }

    .footer-contact p {
        font-size: 12px; 
    }
}


@media (min-width: 1200px) {
    .footer-content {
        padding: 0 40px; 
    }

    .footer-nav a {
        font-size: 18px; 
    }

    .footer-contact p {
        font-size: 16px; 
    }

    .contact-icons a {
        font-size: 24px;
    }
}
